.main-footer{ 
    background-color: #000;
    color: #fff;
    height: 12.5rem;
    margin-top: auto;
    text-align: center;
}

.logo-footer {
    color: white; // ou la couleur de ton choix
    width: 145px;
    height: 47px;
  }