.main-footer{ 
    background-color: #000;
    color: #fff;
    height: 12.5rem;
    margin-top: auto;
    text-align: center;
    margin: 0;
p{
    font-size: 27px;
}

.logo-footer {
    color: white;
    width: 129px;
    height: 51px;
    margin: 50px auto 30px;
  }

}