@use "../abstract" as *;

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.8rem;
  nav ul {
    display: flex;
    gap: 3.9rem;
    a{
        font-size: 1.9rem;
   
    }
  }
.active {
    border-bottom: 2px solid black; 
  }
.logo-header {
  color: $color-primary;
  width: 202px;
  height: 69px;
}
}