.owner-photo{

  width: 80px;           // ou la taille que tu veux
  height: 80px;
  object-fit: cover;     // pour que l’image remplisse bien le cercle
  border-radius: 50%;    // rend l’image parfaitement ronde
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); // optionnel, pour un peu d’ombre


}