@use "../abstract" as *;

.tag-btn {
    background: #FF6060;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    padding: 0.35em 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: background 0.2s;
}