@use "../abstract" as *;

.error-container {
  display: block;
  margin: auto;
  text-align: center;
  color: $color-primary;
  margin: 0 auto 10rem;

  h1 {
    font-size: 20rem;
    margin: 5rem 0;
  }

  p {
    font-size: 2.5rem;
    margin-bottom: 7rem;
  }

  .linkHome {
    color: black;
    font-size: 1.3rem;
    text-decoration: underline;
    display: block;
    margin-bottom: 4.5rem;
  }
}
