@use "../abstract" as *;

.tags-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.apart_title {
   color: $color-primary;
}
.apart_location{
  font-size:1.3rem ;
  margin-top: 0.5rem;
  font-weight: normal;
}


.appartement-rating {
  display: flex;
  gap: 4px;
  font-size: 2.5rem;
}

.star-filled {
  color: $color-primary;
}

.star-empty {
  color: grey;
}

.Owner_name{
 color: $color-primary;
 font-size: 1.3rem;
}

.ownerinfos_rating_container{
      display: flex;
      flex-direction: column;
        justify-content: flex-end;
    
  }

  .owner_infos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

  }
  .appart_host_infos_container{
    display: flex;
     justify-content: space-between;
     align-items: center;
       box-sizing: border-box;
         width: 100%;
         padding: 1.4rem 0 0.5rem;
}
       
  
  .TitleandTags_container {
display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
 }