.chevron {
    transform: rotate(-90deg); 
  }
  .chevron.open {
    transform: rotate(90deg);  
  }

  .accordion-content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s, transform 0.8s, max-height 0.8s;
    pointer-events: none;
    position: relative;
    max-height: 0;
    overflow: hidden;
    .open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        
      }
  }
  
